<ng-container class="header">
  <div class="top">
    <div class="box">
    <div class="title">
        <h1>Reservar hotel</h1>
    </div>
    <div class="form" *ngIf="places">
          <mat-label>Destino: </mat-label>
          <select [(ngModel)]="selectedPlace">
              <option *ngFor="let place of places">{{place?.name}}</option>
          </select>
    </div>
    <div class="button">
    <button type="button" class="btn btn-primary" (click)="filtrar()">Alterar busca</button>
  </div>
  </div>
</div>
</ng-container>
